@import "tailwindcss";

@font-face {
    font-family: SweetApricot;
    src: url(/fonts/SweetApricot.woff2);
}

@font-face {
    font-family: AksharMedium;
    src: url(/fonts/Akshar-Medium.ttf);
}

@font-face {
    font-family: AksharRegular;
    src: url(/fonts/Akshar-Regular.ttf);
}

@font-face {
    font-family: AksharSemiBold;
    src: url(/fonts/Akshar-SemiBold.ttf);
}

@font-face {
    font-family: AksharBold;
    src: url(/fonts/Akshar-Bold.ttf);
}

@font-face {
    font-family: AksharLight;
    src: url(/fonts/Akshar-Light.ttf);
}


/* Hide scrollbar on all browsers */
html, body {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;                  /* Chrome, Safari */
  display: none;
}


.animated-underline {
  position: relative;
  display: inline-block; /* Ensure it wraps the text */
  text-decoration: none; /* Remove default underline */
}

.animated-underline::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px; /* Underline thickness */
  background: currentColor; /* Matches text color */
  left: 0;
  bottom: -2px; /* Position it below the text */
  transition: width 0.3s ease-out; /* Animation speed */
}

.animated-underline:hover::after {
  width: 100%; /* Expands to full width on hover */
}